<ion-header>
  <ion-toolbar>
    <ion-title>Bibliotecas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/camara']" routerLinkActive="router-link-active" >Cámara</ion-button>
  <ion-button [routerLink]="['/video-player']" routerLinkActive="router-link-active" >Video player</ion-button>
  <ion-button [routerLink]="['/ng2-charts']" routerLinkActive="router-link-active" >Gráficas</ion-button>
  <ion-button [routerLink]="['/animaciones']" routerLinkActive="router-link-active" >Animaciones Threes.js</ion-button>
</ion-content>
